@using Humanizer
@using FoodPicker.Infrastructure.Services
@model List<FoodPicker.Web.Controllers.WeekController.WeekListViewModel>
@inject MealService _mealService

@{
    ViewBag.Title = "Week List";
}

<h2>Weeks</h2>
@if (Model.Any())
{
    @if (User.IsInRole("Admin"))
    {
        <a asp-route="WeekCreate">Create week</a>
    }
    <h3>Active Weeks</h3>
    <table class="table table-striped my-3">
        <thead>
        <tr>
            <th>Delivery Date</th>
            <th>Order Deadline</th>
            <th>Week Status</th>
            <th>My Votes Complete?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var week in Model.Where(x => x.MealWeek.MealWeekStatus == MealWeekStatus.Active).OrderBy(x => x.MealWeek.DeliveryDate))
        {
            var deliveryDeadline = _mealService.GetLocalOrderDeadlineForDeliveryDate(week.MealWeek.DeliveryDate);
            <tr>
                <td>@week.MealWeek.DeliveryDate.ToShortDateString()</td>
                <td><span title="@deliveryDeadline.ToString("g")">@deliveryDeadline.Humanize(false)</span></td>
                <td>@Html.DisplayFor(x => week.MealWeek.MealWeekStatus)</td>
                <td>@(week.CurrentUserVotingComplete ? "Yes" : "No")</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-route="WeekEdit" asp-route-id="@week.MealWeek.Id">Edit</a>
                    }
                    <a asp-action="Vote" asp-route-id="@week.MealWeek.Id">Vote</a>
                    <a asp-action="ViewResults" asp-route-weekId="@week.MealWeek.Id">View Results</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h3>Inactive Weeks</h3>
    <table class="table table-striped my-3">
        <thead>
        <tr>
            <th>Delivery Date</th>
            <th>Order Deadline</th>
            <th>Week Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var week in Model.Where(x => x.MealWeek.MealWeekStatus != MealWeekStatus.Active).OrderByDescending(x => x.MealWeek.DeliveryDate))
        {
            <tr>
                <td>@week.MealWeek.DeliveryDate.ToShortDateString()</td>
                <td>@_mealService.GetLocalOrderDeadlineForDeliveryDate(week.MealWeek.DeliveryDate).Humanize(false)</td>
                <td>@Html.DisplayFor(x => week.MealWeek.MealWeekStatus)</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-route="WeekEdit" asp-route-id="@week.MealWeek.Id">Edit</a>
                    }                    <a asp-action="ViewResults" asp-route-weekId="@week.MealWeek.Id">View Results</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <text>No weeks found. <a asp-route="WeekCreate">Create one?</a></text>
}
    
